<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
  <title><%= siteMeta.title %></title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= siteMeta.title %>">
  <% if (siteMeta.description) { %>
    <meta name="description" content="<%= siteMeta.descriptionPlain %>">
    <meta property="og:description" content="<%= siteMeta.descriptionPlain %>">
  <% } %>
  <% if (siteMeta.iconUrl) { %>
    <meta property="og:image" content="<%= siteMeta.iconUrl %>">
    <meta name="twitter:image" content="<%= siteMeta.cover %>">
    <meta property="og:image" content="<%= siteMeta.cover %>" />
  <% } %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Spectral:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partials/navbar.html', { siteMeta }) %>
  <header class="Header">
    <% if (siteMeta.cover) { %>
      <div class="Header__Cover">
        <img src="<%= siteMeta.cover %>">
      </div>
    <% } %>
    <div class="Header__Spacer <% if (!siteMeta.cover) { %>Header__Spacer--NoCover<% } %>">
    </div>
    <% if (siteMeta.iconUrl) { %>
      <div class="Header__Icon">
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>"></span>
      </div>
    <% } %>

    <p style="margin-top: 2rem;" class="Text__Content"><span class="SemanticStringArray"><span class="SemanticString"><a class="SemanticString__Fragment SemanticString__Fragment--Link" href="about.html"><span class="SemanticString__Fragment SemanticString__Fragment--Unknown">☁️&nbsp;About</span></a></span></span></p>
    <p></p>
    <p class="Text__Content"><span class="SemanticStringArray"><span class="SemanticString"><a class="SemanticString__Fragment SemanticString__Fragment--Link" href="blog.html"><span class="SemanticString__Fragment SemanticString__Fragment--Unknown">🔭&nbsp;Blog</span></a></span></span></p>
    <p></p>
    <p class="Text__Content"><span class="SemanticStringArray"><span class="SemanticString"><a class="SemanticString__Fragment SemanticString__Fragment--Link" href="https://work.aideedamsyar.com"><span class="SemanticString__Fragment SemanticString__Fragment--Unknown">🪐&nbsp;Portfolio</span></a></span></span></p>
    <p></p>
    <p class="Text__Content"><span class="SemanticStringArray"><span class="SemanticString"><a class="SemanticString__Fragment SemanticString__Fragment--Link" href="https://studio.aideedamsyar.com"><span class="SemanticString__Fragment SemanticString__Fragment--Unknown">☄️&nbsp;Studio</span></a></span></span></p>
    <p></p>
    <p class="Text__Content"><span class="SemanticStringArray"><span class="SemanticString"><a class="SemanticString__Fragment SemanticString__Fragment--Link" href="https://work.aideedamsyar.com/contact"><span class="SemanticString__Fragment SemanticString__Fragment--Unknown">🌊&nbsp;Contact</span></a></span></span></p>

    <h1>"It's Been A Pleasure Meeting You, Even If You Are My Least Favorite Vegetable."</h1>
    <!-- <h1 class="Header__Title"></h1> -->
    <div class="embedsocial-hashtag" data-ref="ec6dec9bcbd440d41a0fb80a1131ca9eb7c1eb1f"> <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial<span>→</span> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
    <h1 style="margin-top: 2rem; margin-bottom: -1rem;">My latest writing</h1>
  </header>
  
  <%- include('partials/articleList.html', {
    pages: siteMeta.pages.filter(page => page.publish && page.inList).slice(0, 1)
    }) %>

    <!-- <img src="https://i.imgur.com/iS4NBzh.jpg" alt="fireworks" style="width: 72%; display:block; margin:0 auto;">
    <img src="https://i.imgur.com/fTQdg9P.jpg" alt="building" style="width: 72%; display:block; margin:0 auto;">
    <img src="https://i.imgur.com/4cgAHUq.jpg" alt="gwangalli bridge" style="width: 72%; display:block; margin:0 auto;">
    <img src="https://i.imgur.com/7mXBnid.jpg" alt="store front" style="width: 72%; display:block; margin:0 auto;"> -->

    
  <%- include('partials/footer.html', { siteMeta }) %>
  
</body>

</html>