<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
  <title><%= post.title %>&nbsp;|&nbsp;<%= siteMeta.title %></title>
  
  <meta name="author" content="Tengku Aideed Amsyar">
  <meta name="keywords" content="<%= post.descriptionPlain %>">
  <meta property="og:type" content="blog">
  <meta property="og:title" content="<%= post.title %>">
  <meta property="og:url" content="<%= post.url %>">
  <meta property="og:site_name" content="deedsofaraway - A blog by Tengku Aideed Amsyar">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@deedsofaraway">
  <meta name="twitter:title" content="<%= post.title %>">
  <meta name="twitter:description" content="<%= post.descriptionPlain %>">
  <meta name="twitter:image" content="<%= post.cover %>">

  <link rel="canonical" href="<%= post.url %>">

  <% if (post.description) { %>
    <meta name="description" content="<%= post.descriptionPlain %>">
    <meta property="og:description" content="<%= post.descriptionPlain %>">
  <% } %>
  <% if (siteMeta.cover) { %>
    <meta property="og:image" content="<%= post.cover %>">
  <% } %>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "<%= post.title %>",
      "image": "<%= post.cover %>",
      "author": {
        "@type": "Person",
        "name": "Tengku Aideed Amsyar"
      },
      "datePublished": "<%= post.dateString %>"
    }
    </script>
    



  
  <style>
    .DateTagBar {
      margin-top: 1.0rem;
    }
  </style>
</head>

<body>
  <%- include('partials/navbar.html', { siteMeta }) %>
  <header class="Header">
    <% if (post.cover) { %>
      <div class="Header__Cover">
        <img src="<%= post.cover %>">
      </div>
    <% } %>
    <div class="Header__Spacer <% if (!post.cover) { %>Header__Spacer--NoCover<% } %>">
    </div>
    <% if (post.iconUrl) { %>
      <div class="Header__Icon">
        <span><img class="inline-img-icon" src="<%= post.iconUrl %>"></span>
      </div>
    <% } %>
    <h1 class="Header__Title"><%= post.title %></h1>
    
    <p style="color: rgba(255, 255, 255, 0.7);">Written by Tengku Aideed Amsyar </p>
      
    
    
    <% if (post.date || post.tags.length) { %>
      <div class="DateTagBar">
        <% if (post.date) { %>
          
          <span class="DateTagBar__Item DateTagBar__Date">Posted on <%= post.dateString %></span>
        <% } %>
        <% post.tags.forEach(function(tag) { %>
          <span class="DateTagBar__Item DateTagBar__Tag DateTagBar__Tag--<%= tag.color %>">
            <a href="tag/<%= tag.value %>.html"><%= tag.value %></a>
          </span>
        <% }) %>
      </div>
    <% } %>
  </header>
  <%- post.contentHTML %>
  <%- include('partials/footer.html', { siteMeta }) %>
</body>

</html>