<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
  <title><%= post.title %>&nbsp;|&nbsp;<%= siteMeta.title %></title>
  <meta property="og:type" content="blog">
  <meta property="og:title" content="<%= post.title %>">
  <% if (post.description) { %>
    <meta name="description" content="<%= post.descriptionPlain %>">
    <meta property="og:description" content="<%= post.descriptionPlain %>">
  <% } %>
  <% if (post.iconUrl) { %>
    <meta property="og:image" content="<%= post.iconUrl %>">
  <% } %>
  <% if (options.siteMeta.cover) { %>
    <meta property="og:image" content="<%= siteMeta.cover %>">
  <% } %>
  <style>
    .DateTagBar {
      margin-top: 0rem;
    }
  </style>
</head>

<body>
  <%- include('partials/navbar.html', { siteMeta }) %>
  <header class="Header">
    <% if (siteMeta.cover) { %>
      <div class="Header__Cover">
        <img src="<%= siteMeta.cover %>">
      </div>
    <% } %>
    <div class="Header__Spacer <% if (!siteMeta.cover) { %>Header__Spacer--NoCover<% } %>">
    </div>
    <% if (siteMeta.iconUrl) { %>
      <div class="Header__Icon">
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>"></span>
      </div>
    <% } %>
    <h1 class="Header__Title"><%= siteMeta.title %></h1>
    <% if (siteMeta.description) { %>
      <div class="Header__Desc">
        <span class="Header__DescBigQuoteMark"></span>
        Feel free to browse through the blog posts using these tags!
        <span class="Header__DescBigQuoteMark"></span>
      </div>
    <% } %>

        <!-- Import the article list -->
    <% include('partials/articleList.html', {
    pages: siteMeta.pages.filter(page => page.publish && page.inList)
    }) %>
    <!-- Display a list of all article tags -->
    <%
    // Create an empty array to store the tags
    let tags = [];
    // Loop through the article list and add each tag to the tags array
    siteMeta.pages.forEach(function(article) {
        article.tags.forEach(function(tag) {
        if (!tags.includes(tag)) {
            tags.push(tag);
        }
        });
    });
    %>
        <ul style="margin-left: -40px; display: flex; gap: 0.5rem; flex-wrap: wrap;">
    <% tags.forEach(function(tag) { %>
        <div :hover="background: #5a6675; text-decoration: none;" style="-webkit-border-radius: 10;-moz-border-radius: 10;border-radius: 10px;color: #ffffff;font-size: 20px;background: #3b474f;padding: 10px 20px 10px 20px;text-decoration: none;margin-bottom: 0.5rem;" class="custom-btn">
          <li style="list-style: none;"><a href="/tag/<%= tag.value %>"><%= tag.value %></a></li>
        </div>
    <% }); %>
    </ul>
  <%- include('partials/footer.html', { siteMeta }) %>
</body>

</html>