<footer class="Footer">
  <div>&copy; <%= siteMeta.title %> 2023</div>
  <div>&centerdot;</div>
  <div>by <a href="https://aideedamsyar.com" target="_blank"
      rel="noopener noreferrer">Tengku Aideed Amsyar</a>.
  </div>
</footer>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CLK2ERL60Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CLK2ERL60Z');
</script>